.header__lang-link {
margin: 0;
padding: 0;
padding-top: 14px;
color: white;
text-decoration: none;
font-family: iner;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
text-align: right;
}

.header__lang-link:first-child {
    margin-right: 16px;
  }