.places {
    margin: 64px 0 0 0;
    display: grid;
    align-self: center;
    grid-template-columns: min-content;
    gap: 49px;
    
}

@media screen and (min-width: 768px) {
    .places {
        margin: 88px auto 0 auto;
        gap: 73px;  
    }
}

@media screen and (min-width: 769px) {
    .places {
        margin: 92px auto 0 auto;
        gap: 80px;
    }
}